<%- include("templates/header") %> 
    <div class="container">
        <h1>Users List</h1>
        <div>
            <% users.forEach(user => { %>
                <div class="d-flex justify-content-between">
                    <h3><%= user.name %> (<%= user.user_type %>)</h3>
                    <form action="/promote/<%= user._id %>" method="post">
                        <button class="btn btn-success rounded-pill px-3">Promote to Admin</button>
                    </form>
                    <form action="/demote/<%= user._id %>" method="post">
                        <button class="btn btn-danger rounded-pill px-3">Demote to User</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
<%- include("templates/footer") %> 