<%- include("templates/header") %>
    <div id="fridgeImage" style="background-image: url('/image/fridge/<%= fridge.url %>');">
        <p id="fridgename"><%= fridge.name %></p>
        <form action="/list?ID=<%= fridge._id %>" method="get">
            <button class="btn btn-secondary" id="eye">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" stroke="black"></path>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" stroke="black"></path>
                </svg>
            </button>
        </form>
    </div>
<%- include("templates/navbar") %>
<%- include("templates/footer") %>