<%- include("templates/header") %>
    <p id="fridgelist">Personal Profile</p>    
    <div class="view">
        <p><span>Name: </span><%= user.name %></p>
        <p><span>Email: </span><%= user.email %></p>
        <p><span>User Type: </span><%= user.user_type %></p>
        <% if (user.phone !== 'undefined' && user.phone) { %>
            <p><span>Phone Number: </span><%= user.phone %></p>
        <% } else { %>
            <div class="inputs">
                <span>Phone Number (optional): </span>
                <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12">
                <form action="/setting" method="get">
                    <button class="btn btn-secondary" id="fridgebutton">Save</button>
                </form>
            </div>
        <% } %>
    </div>
    <hr id="divider">

    <p id="fridgelist">List of fridge</p>
    <div class="row mb-3 text-left">
        <% for(let i = 0; i < fridgeList.length; i++) { %>
            <%- include('templates/fridge', {fridge: fridgeList[i]}) %> 
        <% } %>
    </div>
    <form action="/connection" method="get">
        <button class="btn btn-secondary" id="fridgebutton">Add Fridge</button>
    </form>
    <hr id="divider">
    
    <p id="fridgelist">Logout</p>
    <form action="/logout" method="get">
        <button class="btn btn-secondary" id="fridgebutton">Logout</button>
    </form>
<%- include("templates/navbar") %>
<%- include("templates/footer") %>
